body, html {
  height: 100%;
}
.right {
  width: 250px;
  float: right;
  background: #aafed6;
}

.left {
  float: none;
  background: #e8f6fe;
  width: auto;
  overflow: hidden;
}
/* makes the canvas responsive
#board {
  width: 100%;
  height: 100vh;
}
*/
#board {
  width: 880px;
  height: 775px;
}
div#music {
  height: 20vh;  
}

div#text {
  height:60vh;  
}

div.msg{
  height: 20vh;  
}
.chat {
  position: relative;
  width: 100%;
}

.border {
  border: 1px solid black;
}

textarea{
  resize:none;
}

textarea#msg-txt {
  width:100%;
  height: 13vh;
}

input#send-msg-btn{
  float:right;
}

.modal-content {
 width:350px;
}