body {
	margin:0;
	padding:0;
	overflow:hidden;
	height:100vh;
	background:#fff689;
}

.btn {
      background-image: linear-gradient(to bottom,#6A69B5 0,#3B3A64 100%);
}

.btn:hover {
      background-image: linear-gradient(to bottom,#6A69B5 0,#3B3A64 100%);
      background-color: #3B3A64;
}

.btn:focus {
      background-image: linear-gradient(to bottom,#6A69B5 0,#3B3A64 100%);
      background-color: #3B3A64;
}

#header h1,
#header h2,
#header p {
	margin-left:2%;
	padding-right:2%;
}
#active2 #tab2,
#active3 #tab3,
#active4 #tab4,
#active5 #tab5 {
	font-weight:bold;
	text-decoration:none;
	color:#000;
}
#footer {
	clear:both;
	float:left;
	width:100%;
}
#footer p {
	margin-left:2%;
	padding-right:2%;
}

/* Start of Column CSS */
#container2 {
	clear:left;
	float:left;
	width:100%;
	overflow:hidden;
	background:#000000; /* column 2 background colour */
}
#container1 {
	float:left;
	width:100%;
	position:relative;
	right:20%;
	background:#fff689; /* column 1 background colour */
}
#col1 {
	float:left;
	width:80%;
	position:relative;
	left:20%;
	overflow:hidden;
	height:100vh;
}
#col2 {
	float:left;
	width:20%;
	position:relative;
	left:20%;
	overflow:hidden;
}

canvas {
	width:100%;
	height:100vh;	
}

#music{
 height:10vh;
}
#chat{
 padding: 2%;
 height:100vh;
}
#chat-text{
  height:70vh;
  overflow:auto;
}
#chat-input{
  height:30vh;
}
textarea{
 margin:0;
 padding:0;
 resize:none;
}

#advance-btn{
 display:none;
}
